<div #area>
  <div class="bc-loading-man-indicator" [class.bc-loading-man-indicator-loading]="isLoading">
    <ng-template [ngTemplateOutlet]="indicator || defaultIndicator"></ng-template>
    <div class="bc-loading-man-tip" *ngIf="tip">{{ tip }}</div>
  </div>

  <div [class.bc-loading-man-content-blur]="isLoading" #content (cdkObserveContent)="checkContent()">
    <ng-content></ng-content>
  </div>
</div>

<ng-template #defaultIndicator><mat-spinner [diameter]="diameter"></mat-spinner></ng-template>
