:host {
  display: block;
}

.bc-nested {
  &-list {
    display: block;

    &-item {
      display: block;
    }

    &-collapse {
      display: block;
    }

    &-disable-padding &-disable-padding {
      padding: 0;
    }
  }
  &-sub-list {
    display: block;

    &-title span {
      text-align: left;
    }
  }
}
