<mat-action-list class="bc-nested-list-disable-padding">
  <button mat-list-item (click)="collapse.toggle(dataSource.title.id)" class="bc-nested-sub-list-title">
    <mat-icon matListIcon *ngIf="dataSource.title.icon">{{ dataSource.title.icon }}</mat-icon>
    <span mat-line>{{ dataSource.title.label }}</span>
    <mat-icon>{{ collapse.isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
  </button>
  <bc-nested-list-collapse #collapse [isOpen]="isOpen(dataSource.title.id)">
    <ng-container *ngFor="let data of dataSource.children">
      <bc-nested-list-item
        [isSelect]="selectedItem === data.id"
        [dataSource]="data"
        *ngIf="isItem(data)"
        (itemClick)="_reportItemClick(data)"
        (itemSelect)="_reportItemSelect(data)"
      ></bc-nested-list-item>
      <bc-nested-sub-list
        [selectedItem]="selectedItem"
        [dataSource]="data"
        *ngIf="isSubList(data)"
        (itemClick)="_reportItemClick($event)"
        (itemSelect)="_reportItemSelect($event)"
      ></bc-nested-sub-list>
    </ng-container>
  </bc-nested-list-collapse>
</mat-action-list>
