$bc-lm-prefix: bc-loading;
$bc-loading-blur: 0.5px;

.#{$bc-lm-prefix} {
  display: block;
  position: relative;

  .#{$bc-lm-prefix}-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    &-wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &-content {
    transition: opacity 300ms;
    pointer-events: none;
    &-blur {
      opacity: 0.5;
      filter: blur($bc-loading-blur);
      user-select: none;
    }
  }

  &-tip {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    margin-top: 5px;
  }
}
