<div class="bc-loading-indicator" *ngIf="isLoading">
  <div class="bc-loading-indicator-wrap">
    <ng-template [ngTemplateOutlet]="indicator || defaultIndicator"></ng-template>
    <div class="bc-loading-tip" *ngIf="tip">{{ tip }}</div>
  </div>
</div>

<div
  class="class.bc-loading-content"
  [class.bc-loading-content-blur]="isLoading"
  #content
  (cdkObserveContent)="checkContent()"
>
  <ng-content></ng-content>
</div>

<ng-template #defaultIndicator><mat-spinner [diameter]="diameter"></mat-spinner></ng-template>
